.about-contents-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  
  .about-title {
    padding: 5% 10%;
    text-align: center;
    font-size: 73px; 
    color: rgb(221, 230, 237);
  }
  
  .about-text {
    font-size: 16px;
    color: whitesmoke;
  }
  
  .image-section {
    flex: 0 0 30%;
  }
  
  .text-section {
    flex: 0 0 70%;
    padding-left: 10%;
    text-align: left;
  }
  
  .image-row {
    display: flex;
    justify-content: flex-start;
  }
  
  .about-image {
    width: 150px;
    height: 150px;
    margin-bottom: 3em;
  }
  
  .image-space {
    flex: 1;
  }

  @media screen and (max-width: 1440px) {
    .about-contents-container {
      display: flex;
      width: 75%;
      margin: 0 auto;
    }

    .about-title {
      padding: 5% 10%;
      font-size: 53px !important; 
    }

    .about-image {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    .about-text {
      font-size: 14px;
    }
  
  }

  @media screen and (max-width: 768px) {
    .about-contents-container {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
    }
    
    .about-title {
      padding: 5% 10%;
      text-align: center;
      font-size: 23px !important; 
      color: rgb(221, 230, 237);
    }

    .about-image {
      display: none;
    }

    .about-text {
      font-size: 10px;
      color: whitesmoke;
    }
  }