.contact-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
}

.contact-title {
    font-size: 73px !important;
    color: rgb(221, 230, 237) !important;
    text-align: center !important;
}

.contact-cards-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.contact-card {
    width: 30%;
    background-color: rgb(57, 72, 103);
    border: none;
    box-shadow: 13px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contact-card-cover {
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.contact-image {
    width: 95%;
    height: 300px;
    margin: 2%;
}

.contact-card-title {
    font-size: 30px !important;
    color: whitesmoke !important;
    text-align: left !important;
}

.contact-position-container {
    text-align: left;
}

.contact-position {
    font-size: 18px;
    color: whitesmoke;
}

.contact-card-text-container {
    text-align: left;
    margin-top: 2%;
}

.contact-card-text {
    font-size: 16px;
    color: whitesmoke;
}

.contact-info {
    text-align: left;
    margin: 5% 0;
}

.contact-span {
    font-weight: 800;
}

.contact-icons-container {
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-bottom: 5%;
}

.contact-icons {
    font-size: 40px;
    color: whitesmoke;
}

@media screen and (max-width: 1440px) {
    .contact-title {
        font-size: 53px !important;
    }

    .contact-image {
        height: 250px;
    }

    .contact-card-title {
        font-size: 25px !important;
    }

    .contact-position, .contact-card-text {
        font-size: 16px;
    }

    .contact-icons-container {
        gap: 25px;
        margin-bottom: 2%;
    }

    .contact-card {
        width: 80%;
    }
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    .contact-title {
        font-size: 23px !important;
    }

    .contact-card {
        width: 80%;
    }

    .contact-image {
        height: 150px;
    }

    .contact-card-title {
        font-size: 20px !important;
    }

    .contact-position, .contact-card-text {
        font-size: 14px;
    }

    .contact-icons-container {
        gap: 15px;
        margin-bottom: 2%;
    }

    .contact-icons {
        font-size: 30px;
    }
}