.portfolio-container {
    width: 100vw;
    background-color: rgb(33, 42, 62);
}

.portfolio-anchor-container {
    padding: 3% 10%; 
    display: flex; 
    justify-content: flex-start; 
    position: sticky; 
    top: 0; 
    z-index: 1;
}

.portfolio-span-space {
    margin-right: 2%;
}

.portfolio-home-container {
    background: rgb(57, 72, 103);
}

#Home {
    width: 100vw;
    height: 100vh;
    text-align: left;
    background-color: rgb(33, 42, 62);
}

.portfolio-image-hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    object-fit: contain;
    z-index: 0;
}

.home-container {
    position: relative; 
    z-index: 1;
}

#About {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: rgb(57, 72, 103);     
}

.portfolio-divider {
    max-width: 80%; 
    margin: 0 auto; 
    background: rgb(33, 42, 62);
}

#Skills, #Experience, #Services, #Projects, #Contact {
    width: 100vw;
    height: 100vh; 
    text-align: center;
}




.css-dev-only-do-not-override-12upa3x.ant-anchor-wrapper-horizontal::before {
    border-bottom: none !important;
}

.custom-anchor .ant-anchor-link-title {
    font-size: 20px;
}

.css-dev-only-do-not-override-12upa3x.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
    color: whitesmoke !important;
}

.css-dev-only-do-not-override-12upa3x.ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-ink {
    background-color: white;
}

.ant-anchor-link-title {
    color: white;
}

.custom-anchor .ant-anchor-ink-ball {
    background-color: 'rgb(247, 247, 247)';
}

/* @media screen and (min-width: 1441px) {
    .portfolio-image-hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        object-fit: cover;
        z-index: 0;
    }

    #About {
        width: 100vw;
        height: 100%;
        text-align: center;
        background: rgb(57, 72, 103);
    }
  } */

@media screen and (max-width: 1440px) {
    .portfolio-container {
        width: 100%;
        background-color: rgb(33, 42, 62);
    }

    #Home {
        width: 100vw;
        height: 100vh;
    }

    .portfolio-anchor-container {
        padding-left: 5%; 
    }

    .portfolio-image-hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        object-fit: cover;
        z-index: 0;
    }

    #About {
        width: 100vw;
        height: 100vh;
        text-align: center;
        background: rgb(57, 72, 103);
    }

    #Skills, #Projects, #Contact {
        width: 100vw;
        height: 100vh; 
        text-align: center;
    }

    #Experience, #Services {
        width: 100vw;
        height: 100%; 
    }
  }

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    .portfolio-container {
        width: 100%;
        background-color: rgb(33, 42, 62);
    }

    #Home {
        width: 100vw;
        height: 100vh;
    }

    .portfolio-anchor-container {
        padding-left: 5%; 
    }

    .portfolio-image-hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        object-fit: cover;
        z-index: 0;
        height: 108vh !important;
    }

    #About {
        width: 100vw;
        height: 100vh;
        text-align: center;
        background: rgb(57, 72, 103);
    }

    #Skills, #Projects, #Contact {
        width: 100vw;
        height: 100vh; 
        text-align: center;
    }

    #Experience, #Services {
        width: 100vw;
        height: 100%; 
    }
}

@media screen and (max-width: 375px) {
    .portfolio-container {
        width: 100%;
        background-color: rgb(33, 42, 62);
    }

    #Home {
        width: 100vw;
        height: 100vh;
    }

    .portfolio-anchor-container {
        padding-left: 5%; 
    }

    .portfolio-image-hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        object-fit: cover;
        z-index: 0;
        height: 108vh !important;
    }

    #About {
        width: 100vw;
        height: 100%;
        text-align: center;
        background: rgb(57, 72, 103);
    }

    #Skills, #Projects {
        width: 100vw;
        height: 100vh; 
        text-align: center;
    }

    #Experience, #Services, #Contact {
        width: 100vw;
        height: 100%; 
    }
}